/* shared styles  */


.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.open-sans-inter {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.open-sans-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.purple-color {
    background-color: #4E47FF;
}

body {
    background-color: rgba(245, 248, 255);
}


/* header section  */

.header {
    background-image: url('../Assets/Hero-bg.png');
    /* box-shadow: 0 0 2px; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.logo {
    color: #4E47FF;
    font-size: 44px;
    font-weight: 800;
}

.navbar ul {
    list-style-type: none;
}

.signup-btn {
    padding: 14px 38px;
    color: #ffff;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 4px 4px black;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: lightgray;
    color: black;
    transition: 0.3s;
}

.header-title-and-button {
    text-align: center;
}

.header-title {
    margin-bottom: 37px;
    font-size: 60px;
    margin: 0 267px;
    color: #252432;
}

.header-title h1 {
    font-weight: 600;
}

.Stay-focused-btn {
    margin-bottom: 152px;
    padding: 18px 36px;
    border-radius: 10px;
    border: 0px solid black;
    color: #ffff;
    cursor: pointer;
    font-weight: 600;
}

.Stay-focused-btn:hover {
    background-color: lightgray;
    color: black;
    transition: 0.3s;
    border: 1px solid black;
    font-weight: 600;
}


/* main section  */
main {
    margin: 0 200px;
}

/* section-2  */

.section-2 {
    margin: 150px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-2 img {
    width: 402px;
    height: 328px;
    border-radius: 60px;
}

.details-part {
    max-width: 517px;
}

.details-part h3 {
    font-size: 42px;
    color: rgba(37, 36, 50, 1)
}

.details-part p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.launch-live-p-btn {
    padding: 18px 36px;
    border: 0;
    border-radius: 10px;
    color: #ffff;
    font-weight: 600;
}

.launch-live-p-btn:hover {
    background-color: lightgray;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid black;
    font-weight: 600;
}

/* section 3 style  */

.section-3 {
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    align-items: center;
    padding: 30px 60px;
    border-radius: 20px;
    margin-bottom: 150px;
}

.section-3 h3 {
    font-size: 38px;
    margin: 10px 0 0 -20px;
}


.section-3-informations {
    display: flex;
    gap: 158px;
    justify-content: space-evenly;
}

.section-3-information-box h1 {
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-bottom: -10px;
}

.section-3-information-box p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* challange part  */

.Challanging-part {
    margin-bottom: 150px;
}

.Challanging-part-Title {
    text-align: center;
    color: #252432;
    font-size: 42px;
    margin-bottom: 50px;

}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;

}

.card {
    max-width: 365px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    width: 390px;
}

.stars {
    display: flex;
    gap: 5px;
}

.challange-comments {
    max-width: 315px;
}

.inner-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inner-box img {
    width: 40x;
    height: 40px;
    border-radius: 50%;
}

.name-details {
    color: rgba(0, 0, 0, 0.5);
}

.name-details h4 {
    margin-bottom: -10px;
}

/* section-4 styles  */

.section-4 {
    text-align: center;
    margin-bottom: 150px;
    background-color: #ffff;
    border-radius: 20px;
    padding-top: 19px;
}

.section-4 h1 {
    font-size: 50px;
    margin: 20px;
    margin-top: 30px;
}

.section-4 p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.get-started-free {
    padding: 18px 36px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 10px;
    color: #ffff;
    background-color: rgba(78, 71, 255, 1);
    font-weight: 600;
}

.get-started-free:hover {
    background-color: lightgray;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid black;
    font-weight: 600;
}

.image-webflow img {
    border-radius: 50px;
    margin-bottom: 80px;
}

/* section 5 style  */

.section-5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    gap: 100px;
    margin-bottom: 150px;
}

.section-5 h1 {
    font-size: 97px;
    width: 600px;
}



.form {
    width: 50%;
}

form label {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}


.form input[type="text"],
.form input[type="email"],
.labe {
    height: 64px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
}

.labe {
    background-color: #4E47FF;
    color: #ffff;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
    width: 740px;
}

.labe:hover {
    background-color: #252432;
    transition: 0.3s;
}

.form textarea {
    height: 200px;
    border-radius: 10px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    font-size: 20px;
}

.get-in-touch-btn {
    padding: 18px 36px;
    margin-bottom: 30px;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    color: #ffff;
    background-color: rgba(78, 71, 255, 1);
}

.get-in-touch-btn:hover {
    background-color: lightgray;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid black;
    font-weight: 600;
}

footer {
    background-color: #ffff;
    padding: 104px 20px;
    text-align: center;
    align-items: center;
}

.last-logo {
    font-size: 100px;
}


footer p {
    color: rgba(137, 135, 161, 1);
    width: 532px;
    margin: 0 auto;
}


footer nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 65px;
    /* margin: 0; */
    padding: 0;
}

footer nav ul li a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}